<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace配置DAO的路径-->
<mapper namespace="com.example.myspringboot.dao.UserMapper">

    <sql id="base_column_list">
        id, account, password, username
    </sql>

    <select id="findByAccount" parameterType="Map" resultType="com.example.myspringboot.entity.User">
        select
        <include refid="base_column_list"/>
        from user
        where account = #{account}
    </select>
    <select id="userList" resultType="com.example.myspringboot.entity.User"  resultMap="userMap">
        select * from User where 1=1
        <if test="map.account != '' and map.account !=null">
            and account like concat('%',#{map.account},'%')
        </if>
    </select>
    <resultMap id="userMap" type="com.example.myspringboot.entity.User">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <result column="username" property="username"/>
        <collection property="roles" ofType="com.example.myspringboot.entity.Role" javaType="ArrayList"
                    select="getRoleByUserId" column="{userId=id}" />
    </resultMap>
    <select id="getRoleByUserId" resultType="com.example.myspringboot.entity.Role">
        select * from role r INNER JOIN user_role u on r.id = u.role_id where user_id = #{userId}
    </select>

</mapper>